<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SistemaVenta.Properties.Settings.PizzeriaConnectionString" connectionString="Data Source=DESKTOP-P68RODJ\SQLEXPRESS;Initial Catalog=Pizzeria;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBConnection" connectionString="metadata=res://*/Modelo.Modelo.csdl|res://*/Modelo.Modelo.ssdl|res://*/Modelo.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P68RODJ\SQLEXPRESS;initial catalog=Pizzeria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Connection" connectionString="metadata=res://*/Modelo.Modelo.csdl|res://*/Modelo.Modelo.ssdl|res://*/Modelo.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P68RODJ\SQLEXPRESS;initial catalog=Pizzeria;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectDB" connectionString="metadata=res://*/Modelo.Modelo.csdl|res://*/Modelo.Modelo.ssdl|res://*/Modelo.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P68RODJ\SQLEXPRESS;initial catalog=Pizzeria;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>